<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <provider
            android:name=".UiRuntimeDebugPreviewProvider"
            android:authorities="${applicationId}.ui-runtime-preview-scenarios"
            android:exported="false"
            android:initOrder="90" />
    </application>
</manifest>
